.coordinates {
    height: 80vh;
    border: solid red;

    display: flex;
    justify-content: center;
    align-items: center;

    .loading {
        width: 150px;
        padding: 15px;
        animation: loading 4s infinite ease-in;
    }
}

@keyframes loading {
    0%{background-color: rgba($color: #141414, $alpha: 1.0); color: white; ; box-shadow: 0 0 10px white; opacity: 0;}
    25%{background-color: rgba($color: #141414, $alpha: 1.0); color: white; ; box-shadow: 0 0 10px white;opacity: 1;}
    50%{background-color: rgba($color: #ffffff, $alpha: 1.0); color: black;}
    75%{background-color: rgba($color: #141414, $alpha: 1.0); color: white; ; box-shadow: 0 0 10px white; opacity: 1;}
    100%{background-color: rgba($color: #141414, $alpha: 1.0); color: white; ; box-shadow: 0 0 10px white; opacity: 0;}
}
